@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(199, 220, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    width: 290px;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
}

.blue_box{
    width: 100%;
    height: 250px;
    background-color: hsl(216, 15%, 48%);
    border-radius: 20px;
    overflow: hidden;
}

.details{
    display: flex;
    gap: 20px;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.qr_code{
    width: 100%;
    height: 100%;
}

.bold_heading{
    font-weight: bold;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: hsl(218, 44%, 22%);
    line-height: 1.5;
}

.grey_text{
    color: hsl(216, 15%, 48%);
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 1.5;

}